{
  "env": {
    "build": {
      "presets": [
        ["env", { "modules": false }]
      ],
      "plugins": ["transform-object-rest-spread", "external-helpers"]
    },
    "jest": {
      "presets": ["env"]
    }
  }
}
